.image img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101010;
}

.socialIcons {
  border-radius: 50%;
}

.socialIcons i {
  font-size: 30px;
  color: white;
}

.image:hover {
  cursor: pointer;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.animate {
  animation: slide 35s linear infinite;
}


@media (max-width: 930px) {
  .image img {
    min-width: 50px;
    min-height: 50px;
  }
}

@media (max-width:475px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}